.HamburgerMenu {
  background-color: #9b156e;
  width: 300px;
  height: 100vh;
  transition: all 1s;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
}
.HamburgerMenu li {
  display: block;
  margin-bottom: 0.5rem;
}
.HamburgerMenu ul {
  padding-inline-start: 20px;
  font-size: 1.5rem;
}

.HamburgerMenu__link a {
  text-decoration: none;
  color: white;
}

.HamburgerMenu i {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-right: 1rem;
}
.HamburgerMenu--active {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1.5rem;
}
.HamburgerMenu--active i {
  background: white;
  color: #9b156d;
  padding: 0.5rem;
  border-radius: 50%;
}

.HamburgerMenu__button-menu {
  position: absolute;
  top: 0;
  right: -60px;
  background: #9b156e;
  border: none;
  color: white;
}

.HamburgerMenu__button-menu i {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0;
  padding: 0.5rem;
}
.HamburgerMenu--oculto {
  margin-left: -300px;
}

@media (min-width: 1000px) {
  .HamburgerMenu {
    position: relative;
    width: 30%;
  }
  .HamburgerMenu--oculto {
    margin-left: -30%;
  }
}
