<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bc19bca430.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-nav">
        <nav>
            <!-- <img src=".log" alt=""> -->
            <p>logo</p>
            <div>
                <ul>
                    <li><a href="">Acceder</a></li>
                    <li><a href="">Registrarse</a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <header>
        <img src="./Image-header.png" alt="">
    </header>
    <div class="container">
        <div class="search">
            <form action="">
                <label for="location">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div>
                        <span>Lugar</span>
                        <input id="location" name="location" type="text">
                    </div>
                     
                </label>
                <label for="">
                    <i class="fas fa-calendar-day"></i> Fecha de ida
                    <input type="date">
                </label>
                <label for="">
                    <i class="fas fa-calendar-day"></i> Fecha de regreso
                    <input type="date">
                </label>
                <label for="">
                    <i class="fas fa-users"></i> Personas
                    <select name="select">
                        <option value="1persona">1 Persona</option>
                        <option value="2personas" selected>2 Personas</option>
                        <option value="3personas">3 Personas</option>
                        <option value="4personas">4 Personas</option>
                    </select>
                </label>
                
            <button class="button button--big">
                <i class="fas fa-search"></i> Buscar 
            </button>
                
            

            </form>
            
        </div>
    <section>
        <div class="card">
            <img src="./image-card.png" alt="">
            <div class="card__body">
                <h3>Título de la habitación <sub></sub></h3>
                <h4>Descripción de habitación</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p><i class="fas fa-map-marker-alt"></i> Av. testavenida - Ciudad-Provincia-PAis</p>
                <p><i class="fas fa-dollar-sign"></i> 123124.123</p>
            </div>
            <div class="card__footer">
                <button class="button">Lista de Deseos</button>
                <button class="button">Reservar</button>
            </div>
        </div>
    </section>
    </div>
    <footer>
        <div>
            <h3>Asistencia</h3>
            <ul>
                <li><a href="">Centro de Ayuda</a></li>
                <li><a href="">Información de seguridad</a></li>
                <li><a href="">Opciones de cancelación</a></li>
                <li><a href="">Nuestra respuesta ante el COVID-19</a></li>
                <li><a href="">Accesibilidad para todos</a></li>
                <li><a href="">¿Problemas en tu localidad?</a></li>
            </ul>
        </div>
        <div>
            <h3>Modo hoster</h3>
            <ul>
                <li><a href="">Anímate a compartir tu espacio</a></li>
                <li><a href="">protección para los hosters</a></li>
                <li><a href="">Recursos para hosters</a></li>
                <li><a href="">Visita el foro de la comunidad</a></li>
                <li><a href="">Cómo brindar servicios de hoster de forma responsable</a></li>
            </ul>
        </div>
        <div>
            <h3>Acerca de</h3>
            <ul>
                <li><a href="">Sala de prensa</a></li>
                <li><a href="">Más información sobre las nuevas funciones</a></li>
                <li><a href="">Carta de nuestros fundadores</a></li>
                <li><a href="">Carreras</a></li>
                <li><a href="">Inversionistas</a></li>
            </ul>
        </div>
    </footer>
    <div class="redes">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube-square"></i>
    </div>
    
</body>
</html>