.rooms-container {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}
@media screen and (min-width: 980px) {
  .rooms-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
