.search {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  margin-top: -50px;
  padding: 1rem;
}
.search__form__label {
  border-radius: 1rem;
  border: 1px var(--red-color) solid;
  padding: 0.25rem 0;
  display: flex;
  margin: 0.25rem 0;
  width: 100%;
}

.search__form__label__icon {
  font-size: 2rem;
  margin: 0 0.5rem;
  color: var(--blue-color);
  width: 50px;
  text-align: center;
}

.search__form__label__body {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 0.5rem;
}

.search__form__label__body__title {
  font-size: 0.8rem;
}

.search__form__label__body__input,
.search__form__label__body__select {
  border: none;
  background: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1px 2px;
  font-size: 1rem;
}

.search__form__submit {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  color: #f3f3f3;
  background-color: var(--green-color);
  margin: 0.25rem;
  width: 100%;
}

@media (min-width: 600px) {
  .search__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
    width: inherit;
    align-items: center;
  }
  .search__form__submit {
    grid-column: 1 / 3;
  }
}

@media (min-width: 768px) {
  .search__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 1rem;
    width: inherit;
  }
  .search__form__submit {
    grid-column: 2 / 4;
  }
}

@media (min-width: 992px) {
  .search__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 1rem;
    width: inherit;
  }
  .search__form__submit {
    grid-column: 2 / 4;
  }
}

@media (min-width: 1200px) {
  .search__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 1rem;
    width: inherit;
  }
  .search__form__submit {
    grid-column: 5;
    font-size: 1.5rem;
  }
}
