
nav{
    background-color: var(--red-color);
}

.nav__container{
    
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    align-items: center;
}

.nav__container__menu{
    display: flex;
    list-style: none;
}

.nav__container__menu__list{
    padding: 0 .25rem;
}

.nav__container__menu__list__link{
    color: white;
    text-decoration: none;
}

.nav__container__logo{
    width: 50px;
    border-radius: 50px;
    align-self: center;

}