.booking-container__resume,
.booking-container__price {
  margin-top: 10px;
  border: 2px solid #a9a5a5;
  margin-bottom: 10px;
}

.booking-container__resume > hr {
  width: 90%;
  margin: auto;
}

.resume__title {
  text-align: center;
}

.resume__dates-container {
  display: flex;
  width: 80%;
  margin: auto;
  font-size: 14px;
  line-height: 16px;
  justify-content: space-between;
}

.resume__date-header {
  font-weight: 400;
  margin: 10px auto;
}

.resume__date {
  font-weight: 700;
  margin: 10px auto;
}

.resume__time {
  font-weight: 300;
  margin: 10px auto;
}

.resume__days,
.resume__selection {
  width: 80%;
  font-size: 14px;
  margin: auto;
}

.resume__days-header,
.resumen__selection-header {
  font-weight: 400;
  margin-bottom: 0;
}

.resume__total-days,
.resume__total-rooms {
  font-weight: 700;
  margin-top: 5px;
}

.price__subtotal,
.price__igv,
.price__total {
  display: flex;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 8px;
  justify-content: space-between;
}

.price-container__background {
  background-color: '#EBF3FF';
}

@media (min-width: 700px) {
  .booking-container__resume {
    font-size: 14px;
  }
}

@media (min-width: 850px) {
  .booking-container__resume {
    font-size: 16px;
  }
  .resume__button {
    font-size: 18px;
  }

  .services__description {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .booking-container__resume {
    font-size: 20px;
  }
  .resume__button {
    font-size: 22px;
  }

  .services__description {
    font-size: 18px;
  }
}
