.booking-container__resume {
  margin-top: 30px;
  border: 2px solid #a9a5a5;
}

.booking-container__resume > hr {
  width: 90%;
  margin: auto;
}

.resume__title {
  text-align: center;
}

.resume__dates-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
  font-size: 14px;
  line-height: 16px;
}

.resume__date-header {
  font-weight: 400;
  margin: 10px auto;
}

.resume__date {
  font-weight: 700;
  margin: 10px auto;
}

.resume__time {
  font-weight: 300;
  margin: 10px auto;
}

.resume__days {
  width: 70%;
  font-size: 14px;
  margin: auto;
}

.resume__days-header {
  font-weight: 400;
}

.resume__total-days {
  font-weight: 700;
}

@media (min-width: 700px) {
  .booking-container__resume {
    font-size: 14px;
  }
  .resume__button {
    font-size: 16px;
  }

  .services__description {
    font-size: 14px;
  }
}

@media (min-width: 850px) {
  .booking-container__resume {
    font-size: 16px;
  }
  .resume__button {
    font-size: 18px;
  }

  .services__description {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .booking-container__resume {
    font-size: 20px;
  }
  .resume__button {
    font-size: 22px;
  }

  .services__description {
    font-size: 18px;
  }
}
