.profile-container__profile-menu{
  border: 1px solid rgb(218, 218, 218);
  border-radius: 14px;
  width: 30%;
  text-align: center;
  height: 70vh;
}

.profile-container__profile-menu--logo{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.profile-container__profile-menu--user{
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.profile-container__profile-menu--title{
  font-weight: 600;
  font-size: 35px;
  margin: 15px;
}

.profile-container__profile-edit{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.profile-container__profile-menu--btn-editc{
  border-bottom: 1px solid rgb(218, 218, 218);
  margin: 0;
  padding: 17px;
  cursor: pointer;
  text-align: left;
  color: rgb(139, 139, 139);
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: rgba(218, 218, 218, 0.404);
  text-decoration: none;
}

.profile-container__profile-menu--btn-edit-active{
  border-bottom: 1px solid rgb(218, 218, 218);
  margin: 0;
  padding: 17px;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  border-top: 1px solid rgb(218, 218, 218);
  border-left: 8px solid #0DC96E;
  color: #000;
  background-color: #fff;
  font-weight: 600;
}

.profile-container__profile-menu--btn-edit__icon-active{
  height: 18px;
  margin-right: 18px;
  margin-left: 13px;
}
.profile-container__profile-menu--btn-edit__icon-inactive{
  height: 18px;
  margin-right: 18px;
  margin-left: 15px;
}

.container-user-profile {
 display: flex;
 flex-direction: row;
 width: 85%;
 margin: 45px auto;
}
