@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --red-color: #CE0F0F;
  --blue-color: #0070BA;
  --green-color: #70AF3D;
  --violet-color: #9B156E;
  --gris-color: #F3F3F3;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}