.UserHotel {
  position: relative;
}

.HamburgerMenu {
  background-color: #159b9b;
}

.UserHotel .HamburgerMenu--active i {
  color: #159b9b;
}

.UserHotel .AdminDashboard__addUser .button {
  background-color: #159b9b;
}

.UserHotel .HamburgerMenu__button-menu {
  background-color: #159b9b;
}

@media (min-width: 1000px) {
  .UserHotel {
    display: flex;
  }
}
